---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

{# <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">including this puts about on the right</a>
      </nav> #}

    </div>

    <!-- about -->

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Hi! I'm Izzy, a visual artist and aspiring programmer. Join me as I learn new skills and document my journey into the world of tech. This blog will primarily be focussed on learning about the JAMstack web architecture.</p>
          <div> <img src="img/profilepic.jpg" class="rounded-circle" alt="headshot of Izzy"> </div>
        </div>
      </div>
    </div>
